div.mapboxgl-ctrl.mbgl-control-timeslider {
    width: calc(100vw - 80px);

    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);

    input[type="range"] {
        width: 100%;
        margin-top: 5px; /* visual vertical balance */
        display: block;
    }

    div.mbgl-control-timeslider-readout {
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
        margin-right: 5em;
    }

    div.mbgl-control-timeslider-buttons {
        display: inline-block;

        button {
            cursor: pointer;
        }
    }
}
