div.mapboxgl-ctrl.mbgl-control-timeslider {
    width: calc(100vw - 80px);

    background-color: white;
    padding: 10px;
    border-radius: 5px;

    input[type="range"] {
        width: 100%;
        margin-top: 5px; /* visual vertical balance */
    }
}
